<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style.css"/>
        <title>AOE4</title>
    </head>
    <body>
        <table>
            <tr>
                <td></td>
                <% for (const unit of units) {%>
                    <td class="col unit" title="<%= unit.name %>">
                        <img src="<%=unit.image%>" alt="<%=unit.name%>">
                        <p><%=unit.name%></p>
                    </td>
                <% } %>
            </tr>
            <% for (let i = 0; i < units.length; i++) {%>
                <tr>
                    <td class="row unit">
                        <img src="<%=units[i].image%>" alt="<%=units[i].name%>">
                        <p><%=units[i].name%></p>
                    </td>

                    <% for (let j = 0; j < table[i].length; j++) { %>
                        <td class="row counter <%= table[i][j] %>" title="<%= units[j].name %> is <%= table[i][j] %> against <%= units[i].name %>">&nbsp;</td>
                    <% } %>
                </tr>
            <% } %>
        </table>
        <script src="script.js"></script>
    </body>
</html>